body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    margin: 0;
    padding: 20px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #2c3e50;
}

h2 {
  color: #34495e;
  margin-top: 24px;
  margin-bottom: 10px;
}

p{
    line-height: 1.6;
    margin-bottom: 16px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid #ddd;
}


a{
    color: orange;
    text-decoration: none;
}
a :hover{
    text-decoration: underline;
}